// Breakpoints
$desktop-break: 1280px;
$tablet-break: 768px;
$mobile-break: 320px;

//primary colors

$orange: #AE4C0C;
$green: #45523E;
$fill-white: #FFFFFF;



//secondary colors

$blue: #235789;


//background colors: 

$white: #F5F5F5