@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.footer{
    padding: 0 5.5rem ;
    
    &__text-container{
        padding-top: 1.5rem;
    }

    &__text{
        padding-right: 1.5rem;
        font-size: 10pt;
    }

}