.product{
    display: flex;
    flex-direction: column;

    &__heading{

    }

    &__container{
        &-heading{


        }

        &-cards{
            display: flex;
            flex-direction: row;

        }
    }
}